.addForm{
  display: "flex";
  justify-content: space-between;
  flex-wrap:"wrap";
  /* width: 70%; */
  margin-left: 20%;
  margin-right: 20%;
}

.addForm .input {
  margin: 7px;

}



.addForm .checkbox {
  margin-top: 7px;
  margin-bottom: 7px;
  margin-left: 20%;
  margin-right: 20%;
}
